# Oracle
BANKXYZ_DB_PASSWORD=REEMPLAZAR
ORACLE_WALLET_HOST_PATH=C:/ruta/al/Wallet_BANKXYZ

# OAuth2 - Client Credentials
OAUTH_WEB_CLIENT_SECRET=REEMPLAZAR
OAUTH_MOBILE_CLIENT_SECRET=REEMPLAZAR
OAUTH_ATM_CLIENT_SECRET=REEMPLAZAR

# HTTPS - BFF Keystores
BFF_WEB_SSL_KEYSTORE_PASSWORD=REEMPLAZAR
BFF_MOBILE_SSL_KEYSTORE_PASSWORD=REEMPLAZAR
BFF_ATM_SSL_KEYSTORE_PASSWORD=REEMPLAZAR
